%h1 Статистика страниц

= render 'chart'


%table.table
  %thead
    %tr
      %th Посещения
      %th Uri
      %th Процентное соотношение
      %th


  %tbody
    - @logs.each do |log|
      - percent = ((log.visits).to_f / @max )* 100.0
      %tr
        %td= log.visits
        %td= link_to log.uri, log.uri
        %td
          .progress
            .progress-bar.progress-bar-info.progress-bar-striped{role: "progressbar", 'aria-valuenow' =>percent, 'aria-valuemin' => 0, 'aria-valuemax' => 100, style: "width: #{percent}%" }
              -#%span.sr-only
              -#  20% Complete
        %td= link_to 'Show', show_log_path(log.uri), {class: "btn btn-primary"}